@model DND5ECharacterSheet.Models.CharacterDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.CharacterName)</h4>
    <hr />

    <div id="main" style="display:contents">
        <div class="row">
            <div class="col-sm-4">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.AddedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AddedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CharacterName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CharacterName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Class)
                    </dt>

                    <dd id="class-name">
                        @Html.DisplayFor(model => model.Class.ClassName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Race)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Race.RaceName)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-3">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ExperiencePoints)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ExperiencePoints)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Level)
                    </dt>

                    <dd id="level">
                        @Html.DisplayFor(model => model.Level)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProficiencyBonus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProficiencyBonus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Inspiration)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Inspiration)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-3">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.MaxHP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxHP)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CurrentHitPoints)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CurrentHitPoints)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TemporaryHitPoints)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TemporaryHitPoints)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Strength)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Strength) (@Html.DisplayFor(model => model.StrengthMod))
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Dexterity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Dexterity) (@Html.DisplayFor(model => model.DexterityMod))
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Constitution)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Constitution) (@Html.DisplayFor(model => model.ConstitutionMod))
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Intelligence)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Intelligence) (@Html.DisplayFor(model => model.IntelligenceMod))
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Wisdom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Wisdom) (@Html.DisplayFor(model => model.WisdomMod))
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Charisma)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Charisma) (@Html.DisplayFor(model => model.CharismaMod))
                    </dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Class.Proficiencies.StrengthSave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StrengthSave)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Class.Proficiencies.DexteritySave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DexteritySave)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Class.Proficiencies.ConstitutionSave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ConstitutionSave)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Class.Proficiencies.IntelligenceSave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IntelligenceSave)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Class.Proficiencies.WisdomSave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WisdomSave)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Class.Proficiencies.CharismaSave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CharismaSave)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-4">
                <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.Class.Proficiencies)
                    </dt>

                    <dd id="profs">
                        @Html.DisplayFor(model => model.LightArmour)
                        @Html.DisplayFor(model => model.MediumArmour)
                        @Html.DisplayFor(model => model.HeavyArmour)
                        @Html.DisplayFor(model => model.Shield)
                        @Html.DisplayFor(model => model.SimpleWeapons)
                        @Html.DisplayFor(model => model.Acrobatics)
                        @Html.DisplayFor(model => model.AnimalHandling)
                        @Html.DisplayFor(model => model.Arcana)
                        @Html.DisplayFor(model => model.Athletics)
                        @Html.DisplayFor(model => model.Deception)
                        @Html.DisplayFor(model => model.History)
                        @Html.DisplayFor(model => model.Insight)
                        @Html.DisplayFor(model => model.Intimidation)
                        @Html.DisplayFor(model => model.Investigation)
                        @Html.DisplayFor(model => model.Medicine)
                        @Html.DisplayFor(model => model.Nature)
                        @Html.DisplayFor(model => model.Perception)
                        @Html.DisplayFor(model => model.Performance)
                        @Html.DisplayFor(model => model.Persuasion)
                        @Html.DisplayFor(model => model.Religion)
                        @Html.DisplayFor(model => model.SleightOfHand)
                        @Html.DisplayFor(model => model.Stealth)
                        @Html.DisplayFor(model => model.Survival)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-xs-12">
            <div class="card-background" style="border-radius: 5px; font-size: 12pt; text-align: center; overflow-x: scroll">
                
                    @switch (Model.Class.ClassName)
                    {
                        case "Barbarian":
                            @Html.Partial("BarbarianTable")
                            break;
                        case "Bard":
                            @Html.Partial("BardTable")
                            break;
                        case "Cleric":
                            @Html.Partial("ClericTable")
                            break;
                        case "Druid":
                            @Html.Partial("DruidTable")
                            break;
                        case "Fighter":
                            @Html.Partial("FighterTable")
                            break;
                        case "Monk":
                            @Html.Partial("MonkTable")
                            break;
                        case "Paladin":
                            @Html.Partial("PaladinTable")
                            break;
                        case "Ranger":
                            @Html.Partial("RangerTable")
                            break;
                        case "Rogue":
                            @Html.Partial("RogueTable")
                            break;
                        case "Sorcerer":
                            @Html.Partial("SorcererTable")
                            break;
                        case "Warlock":
                            @Html.Partial("WarlockTable")
                            break;
                        case "Wizard":
                            @Html.Partial("WizardTable")
                            break;
                        default:
                            break;
                    }
            </div>
        </div>
    </div>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

@*<script>
    let profs = document.getElementById("profs")

    profs.innerText = profs.innerText.substring(0, profs.innerText.length - 1)

    let main = document.getElementById("main")
    let table = document.getElementById("table")

    main.style.display = "initial"

    table.style.display = "none"

    function mainDisplay() {
        console.log("change styles")
        main.style.display = "initial"
        table.style.display = "none"
    }

    function tableDisplay() {
        console.log("change styles")
        main.style.display = "none"
        table.style.display = "initial"
    }
</script>*@

<script src="~/Scripts/table-style.js"></script>
