@model DND5ECharacterSheet.Models.CharacterDetail

@{
    ViewBag.Title = "Details";
}

<div>
    <div style="padding-top: 2%">
    <h1 style="display:inline">@Html.DisplayFor(model => model.CharacterName)</h1><h4 style="display:inline; margin-left: 2%">(@Html.DisplayFor(model => model.Race.RaceName) <span id="class-name">@Html.DisplayFor(model => model.Class.ClassName)</span>)</h4>
    <h4>by @Html.DisplayFor(model => model.User.UserName)</h4>
    </div>

    <div id="main" style="display:contents">



        <div class="row" style="margin-bottom: 2%">

            <div class="col-sm-8 col-xs-12">

                <div class=" card-background col-xs-12" style="margin-bottom: 2%; padding: 2.5%">
                    <div class="row" style="text-align: center">
                        <div class="col-sm-3 col-xs-6">
                            <h2>
                                @Html.DisplayNameFor(model => model.Inspiration)
                            </h2>
                            <h3>
                                @Html.DisplayFor(model => model.Inspiration)
                            </h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <h2>
                                EXP
                            </h2>
                            <h3>
                                @Html.DisplayFor(model => model.ExperiencePoints)
                            </h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <h2>
                                @Html.DisplayNameFor(model => model.Level)
                            </h2>
                            <h3>
                                <span id="level">@Html.DisplayFor(model => model.Level)</span>
                            </h3>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <h2>
                                Proficiency
                            </h2>
                            <h3>
                                +@Html.DisplayFor(model => model.ProficiencyBonus)
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="card-background col-xs-12 prof-padding">
                    <h2>Proficiencies:</h2>
                    <p style="font-size: 16pt">
                        @Html.DisplayFor(model => model.LightArmour)
                        @Html.DisplayFor(model => model.MediumArmour)
                        @Html.DisplayFor(model => model.HeavyArmour)
                        @Html.DisplayFor(model => model.Shield)
                        @Html.DisplayFor(model => model.SimpleWeapons)
                        @Html.DisplayFor(model => model.Acrobatics)
                        @Html.DisplayFor(model => model.AnimalHandling)
                        @Html.DisplayFor(model => model.Arcana)
                        @Html.DisplayFor(model => model.Athletics)
                        @Html.DisplayFor(model => model.Deception)
                        @Html.DisplayFor(model => model.History)
                        @Html.DisplayFor(model => model.Insight)
                        @Html.DisplayFor(model => model.Intimidation)
                        @Html.DisplayFor(model => model.Investigation)
                        @Html.DisplayFor(model => model.Medicine)
                        @Html.DisplayFor(model => model.Nature)
                        @Html.DisplayFor(model => model.Perception)
                        @Html.DisplayFor(model => model.Performance)
                        @Html.DisplayFor(model => model.Persuasion)
                        @Html.DisplayFor(model => model.Religion)
                        @Html.DisplayFor(model => model.SleightOfHand)
                        @Html.DisplayFor(model => model.Stealth)
                        @Html.DisplayFor(model => model.Survival)
                    </p>
                </div>
            </div>



            <div class="col-sm-4 col-xs-12">
                <div class=" card-background col-xs-12" style="margin-bottom: 2%; padding: 2.5%; text-align: center">
                    <h2>
                        HP: @Html.DisplayFor(model => model.MaxHP)
                    </h2>

                    <h3>
                        Current: @Html.DisplayFor(model => model.CurrentHitPoints)
                    </h3>

                </div>
                <div class="card-background col-xs-12" style="padding: 12px; font-size: 13pt;">
                    <div class="row">

                        <div class="col-xs-6" style="text-align: left">


                            @Html.DisplayNameFor(model => model.Strength)

                            @Html.DisplayFor(model => model.Strength) (@Html.DisplayFor(model => model.StrengthMod))

                            <br />

                            @Html.DisplayNameFor(model => model.Dexterity)

                            @Html.DisplayFor(model => model.Dexterity) (@Html.DisplayFor(model => model.DexterityMod))

                            <br />

                            @Html.DisplayNameFor(model => model.Constitution)

                            @Html.DisplayFor(model => model.Constitution) (@Html.DisplayFor(model => model.ConstitutionMod))

                            <br />

                            @Html.DisplayNameFor(model => model.Intelligence)

                            @Html.DisplayFor(model => model.Intelligence) (@Html.DisplayFor(model => model.IntelligenceMod))

                            <br />

                            @Html.DisplayNameFor(model => model.Wisdom)

                            @Html.DisplayFor(model => model.Wisdom) (@Html.DisplayFor(model => model.WisdomMod))

                            <br />

                            @Html.DisplayNameFor(model => model.Charisma)

                            @Html.DisplayFor(model => model.Charisma) (@Html.DisplayFor(model => model.CharismaMod))
                        </div>

                        <div class="col-xs-6" style="text-align: right">
                            Save

                            @Html.DisplayFor(model => model.StrengthSave)

                            <br />

                            Save
                            @Html.DisplayFor(model => model.DexteritySave)

                            <br />

                            Save
                            @Html.DisplayFor(model => model.ConstitutionSave)

                            <br />

                            Save
                            @Html.DisplayFor(model => model.IntelligenceSave)

                            <br />

                            Save
                            @Html.DisplayFor(model => model.WisdomSave)

                            <br />

                            Save
                            @Html.DisplayFor(model => model.CharismaSave)
                        </div>

                    </div>


                </div>

            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <div class="card-background" style="font-size: 12pt; text-align: center; overflow-x: scroll; height: auto">

                    @switch (Model.Class.ClassName)
                    {
                        case "Barbarian":
                            @Html.Partial("BarbarianTable")
                            break;
                        case "Bard":
                            @Html.Partial("BardTable")
                            break;
                        case "Cleric":
                            @Html.Partial("ClericTable")
                            break;
                        case "Druid":
                            @Html.Partial("DruidTable")
                            break;
                        case "Fighter":
                            @Html.Partial("FighterTable")
                            break;
                        case "Monk":
                            @Html.Partial("MonkTable")
                            break;
                        case "Paladin":
                            @Html.Partial("PaladinTable")
                            break;
                        case "Ranger":
                            @Html.Partial("RangerTable")
                            break;
                        case "Rogue":
                            @Html.Partial("RogueTable")
                            break;
                        case "Sorcerer":
                            @Html.Partial("SorcererTable")
                            break;
                        case "Warlock":
                            @Html.Partial("WarlockTable")
                            break;
                        case "Wizard":
                            @Html.Partial("WizardTable")
                            break;
                        default:
                            break;
                    }
                </div>
            </div>
        </div>

        <div class="row" style="padding: 2%; margin-bottom: 4.5%">
            @if (Model.User.Id == ViewBag.CurrentUser)
            {
                <div class="col-xs-6" style="padding: 0">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning", type = "button" })
                </div>
            }
            else
            {
                <div class="col-xs-6">
                    
                </div>
            }
            <div class="col-xs-6" style="text-align: right; padding: 0">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success", type = "button" })
            </div>
        </div>
    </div>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

@*<script>
        let profs = document.getElementById("profs")

        profs.innerText = profs.innerText.substring(0, profs.innerText.length - 1)

        let main = document.getElementById("main")
        let table = document.getElementById("table")

        main.style.display = "initial"

        table.style.display = "none"

        function mainDisplay() {
            console.log("change styles")
            main.style.display = "initial"
            table.style.display = "none"
        }

        function tableDisplay() {
            console.log("change styles")
            main.style.display = "none"
            table.style.display = "initial"
        }
    </script>*@

<script src="~/Scripts/table-style.js"></script>
