@model DND5ECharacterSheet.Models.ArmourDetails

@{
    ViewBag.Title = "Details";
}

<div>
    <div id="main" style="display:contents">
        <div class="row" style="margin-top: 2%; padding: 2.5% 5%">
            <div class=" card-background col-xs-12 col-sm-6 col-sm-offset-3" style="margin-bottom: 2%; padding: 0 5%">
                <div class="row">
                    <div class="col-xs-6">

                        <h3>
                            @Html.DisplayFor(model => model.Name)
                        </h3>
                    </div>
                    <div class="col-xs-6" style="text-align: right">

                        <h3>
                            @Html.DisplayFor(model => model.CostInCurrency) @Html.DisplayFor(model => model.CurrencyRequired)
                        </h3>
                    </div>

                    <div class="col-xs-12" style="text-align: center">
                        <h3>
                            @Html.DisplayFor(model => model.ArmourClass) AC @if (Model.MaxDexMod != null)
                            {

                                <span>(Max Dex Mod:  @Html.DisplayFor(model => model.MaxDexMod)</span>
                            }
                        </h3>
                    </div>
                    <div class="col-xs-12">
                        @if (Model.MinStrength != null)
                        {
                            <h3>
                                Min Strength: @Html.DisplayFor(model => model.MinStrength)
                            </h3>
                        }
                    </div>
                    <div class="col-xs-12">

                        @if (Model.StealthDisadvantage)
                        {
                            <h3>
                                Stealth Disadvantage
                            </h3>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">

                        <h3>
                            @Html.DisplayFor(model => model.WeightInPounds) lb.
                        </h3>
                    </div>
                    <div class="col-xs-6" style="text-align: right">
                        @if (Model.ArmourType == "Shield")
                        {
                            <h3>
                                @Html.DisplayFor(model => model.ArmourType)
                            </h3>
                        }
                        else
                        {
                            <h3>
                                @Html.DisplayFor(model => model.ArmourType) Armour
                            </h3>
                        }
                    </div>
                </div>

                <div class="row" style="padding: 2%; margin-bottom: 1.5%">
                    @if (Model.ArmourId > 13)
                    {
                        <div class="col-xs-6" style="padding: 0">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ArmourId }, new { @class = "btn btn-warning", type = "button" })
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-6"></div>
                    }
                    <div class="col-xs-6" style="text-align: right; padding: 0">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success", type = "button" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

